{% load static%}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %} Djangochat</title>
        <link rel="stylesheet" href="{% static 'style.css' %}?v=1">
    </head>
    <body>
        <nav>
            <a href="/"><img width="60" src="{% static 'logo.png' %}"/></a>
            {% if request.user.is_authenticated %}
            <a class="menu" href="/rooms/">Rooms</a>
            
            <a class="menu" href="{% url 'logout' %}">Log out</a>
            {% else %}
            <a href="/login/">Log in</a>

            <a href="/signup/">Sign up</a>
            {% endif %}
        </nav>
    
    
    {% block content %}
    {% endblock %}
    {% block js %}
	<script type="text/javascript" src="{% static 'script.js' %}"></script>
	{% endblock %}
    </body>
    {% block scripts%}
    {% endblock %}
</html>