{% load static%}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %} | Talks</title>
        <link rel="stylesheet" href="{% static 'style.css' %}?v=1">
    </head>
    <body>
        <nav>
            <a href="/"><img width="70" src="{% static 'logotrue.png' %}"/></a> 
            {% if request.user.is_authenticated %}
            <div class="class1"></div>
                <a class="menu" href="/rooms/">Rooms</a>
                <a class="menu" href="/rooms/">Users</a>
            </div>
            <div class="class2">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" id="logout" class="menu">Log out</button>
                </form>
            </div>
            {% else %}
            <a class="menu" href="/login/">Log in</a>
            <a class="menu" href="/signup/">Sign up</a>
            {% endif %}
        </nav>
        {% block content %}
        {% endblock %}
        {% block js %}
        <script type="text/javascript" src="{% static 'script.js' %}"></script>
        {% endblock %}
    </body>
    {% block scripts%}
    {% endblock %}
</html>