{% extends 'chat/base.html' %}
{% load static%}
{% block title %} Create a room {% endblock %}
{% block content %}
<div class="roomscontent">
  <h2>Create a new room</h2>
  <div class="roomcontent form">
  <form method="post">
    {% csrf_token %}
    <label for="{{ form.name.id_for_label }}">Name:</label>
    {{ form.name }}
    <br>
    <br>
    <label for="{{ form.slug.id_for_label }}">Chatname:</label>
    {{ form.slug }}
    <br>
    <br>
    <p style="color : rgb(183,183,183);">This field will be used for the url</p>
    {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div>
                            <p>{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
    {% endif %}
    <br><br>
    <button type="submit">Create the room</button>
  </form>
  </div>
</div>
{% endblock %}