{% extends 'chat/base.html' %}
{% load static%}
{% block title %}Log in{% endblock %}

{% block content %}
<div class="roomscontent">
    <div>
        <h1> Log in </h1>
    </div>

    <div class="roomcontent">
        <form method="post" action=".">
            {% csrf_token %}

            <div>
                <label>Username :</label>
                <input type="text" name="username">
            </div>
            <br>
            <div>
                <label>Password :</label>
                <input type="password" name="password">
            </div>
            <br>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div>
                            <p>{{ error|escape }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <br>
            <button>
                Log in
            </button>

        </form>
    </div>
</div>

{% endblock %}