nav a{
    text-decoration: none;
    color:black;
}

nav {
    margin-bottom: 30px;
    padding :30px;
    width:100%;
    background-color: #fff;
    font-weight: bold;
}

.menu {
    border: 2px solid #fff;
    margin-left: 100px;
    border-radius: 17px;
}

.menu:hover{
    border: 2px solid rgb(250, 247, 247);
    background-color: rgb(250, 247, 247);
    padding :10px;
}

* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #E6E6FA;
}

.chat-header {
    padding: 10px;
    background-color: #b6afe3;
    color: #fff;
    display: flex;
    align-items: center;
}

.contentbody {
    
    margin :auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
	height:90%;
	border-radius:3%;
    background-color: aliceblue;
}

.message-input {
    padding: 10px;
    display: flex;
    align-items: center;
}

#chat-message-input {
    padding: 8px;
    box-sizing: border-box;
    width:350px;
}

button {
    margin-left: 10px;
    padding: 8px;
    cursor: pointer;
    background-color: #b6afe3;
    color: white ;
    border: none;
    border-radius: 4px;
}

#EmojiButton {
    background-color: whitesmoke;
}

#EmojiPicker {
    background-color: #fff;
    padding: 20px;
    width:400px;
    /*margin-left: 80px;
    margin-bottom: 20px;*/
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
}

button:hover{
    background-color: #b6afe3;
}

.chatbox {
    width: 700px;
    height: 500px; 
    overflow-y: auto;
    padding: 10px;
    width:100%;
}

/*.messagebubble p{
    color:blueviolet;
}*/

.messagebubble {

    align-items: center;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 15px;
    padding: 7px;
    background-color: white;
    border-radius: 10px;
}
.username p{
    font-weight: bold;
}

.roomscontent {
    margin-left: 30px;
}

.roomcontent{
    border : 1px solid black ;
    padding: 20px;
    background-color: aliceblue;
    margin-top: 20px;
    margin-right: 200px;
    border-radius: 10px;
}

#joinbutton {
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
}